

.main-cards {
    height: 550px;
}

.main-cards h2 {
    font-family: 'roboto', sans-serif;
    font-weight: 500;
}

.swiper-estrenos {
    display: flex;
    height: 500px;
    flex-wrap: wrap;
}

.swiper-cards{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: auto;
}

.img-estrenos {
    height: 370px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
}

.swiper-cards a {
    transition: text-decoration 0.3s ease-in-out;
}

.swiper-cards a:hover {
    text-decoration: underline;
}

.img-estrenos:hover {
    transform: scale(1.03);
}
