
footer {
    color: white;
}

.main-footer{
    padding: 20px 0px;
    height: 75%;
}

.main-footer div h2 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}

.main-footer div div h3 {
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.main-footer div div a {
    padding: 3px 0px;
    font-size: 1.07rem;
    line-height: 1.07rem;
}

@media (min-width: 730px){
    .main-footer {
        height: 25rem;
    }
}